
#menu
{
    width: 100%;
    margin: 0;
    list-style: none;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: 02px1px#9c9c9c;
    -webkit-box-shadow: 02px1px#9c9c9c;
    box-shadow: #9c9c9c;
}

#menu li
{
    padding: 10px 20px 10px 20px;
    float: left;
    text-align: center;
    width: auto;
}
#menu a
{
    float: left;
    color: #FFFFFF;
    text-transform: capitalize;
    font: bold 12px/25pxArial,Helvetica;
    text-decoration: none;
    text-shadow: #000;
}
   #menu li:hover > ul
{
        display: run-in;
    }

/* Sub-menu */

#menu ul
{
list-style: none;
margin:0;
padding:0;
display: none;
top:35px;
left:0;
z-index:99999;
background:#444;
background:-moz-linear-gradient(#444, #111);
background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#111),color-stop(1, #444));
background:-webkit-linear-gradient(#444, #111);
background:-o-linear-gradient(#444, #111);
background:-ms-linear-gradient(#444, #111);
background: linear-gradient(#444, #111);
-moz-border-radius:5px;
border-radius:5px;
}

#menu ul li
{
float: none;
margin:0;
padding:0;
display: block;
-moz-box-shadow:01px0#111111, 0 2px 0 #777777;
-webkit-box-shadow:01px0#111111, 0 2px 0 #777777;
box-shadow:0#111111, 0 2px 0 #777777;
}

#menu ul a
{
padding:10px;
height:auto;
line-height:1;
display: block;
white-space: nowrap;
float: none;
text-transform: none;
}

#menu ul a:hover
{
background:#0186ba;
background:-moz-linear-gradient(#04acec, #0186ba);
background:-webkit-gradient(linear, left top, left bottom,from(#04acec), to(#0186ba));
background:-webkit-linear-gradient(#04acec, #0186ba);
background:-o-linear-gradient(#04acec, #0186ba);
background:-ms-linear-gradient(#04acec, #0186ba);
background: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child a
{
-moz-border-radius:5px5px00;
border-radius:5px;
}

/* Clear floated elements */
#menu:after
{
visibility: hidden;
display: block;
font-size:0;
content:" ";
clear: both;
height:0;
}